@charset "utf-8";
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
body {
	background: #FFFFCC;
}
/* ----- ----- */
/* ----- G E S T I Ó N   D E   L A S   C O O K I E S. ----- */
/* ----- ----- */
.cabecera {
	position: sticky;
    width: 100%;
    max-width: 100%;
	transition: .2s;
}
.cabecera.activo {
	position: fixed;
    z-index: 9999;
	top: 0;   
    width: 100%;
    max-width: 100%;
}
.main {
    float: inherit;
    width: 100%;
    max-width: 100%;
}
.main.activo {
	padding-top: 14.5rem;
	float: inherit;
    width: 100%;
    max-width: 100%;
}
.aviso-cookies {
    display: none;
    background-color: #E1E1E1;
    padding: 20px;
    width: calc(100% - 40px);
    max-width: 50%;
    line-height: 150%;
    border-radius: 10px;
    position: fixed;
    left: 20%;
    right: 20%;
    top: 100px;
    z-index: 200;
    padding-top: 60px;
    box-shadow: 0px 2px 20px 10px rgba(227, 217, 198, 1);
    text-align: justify;
}
.aviso-cookies.activo {
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.aviso-cookies .galleta {
	position: absolute;
	top: -50px;
    max-width: 100px;
    margin-bottom: 20px;
	left: calc(50% - 50px);
}
.aviso-cookies .titulo,
.aviso-cookies .parrafo {
	margin-bottom: 10px;
}
.aviso-cookies .boton {
	font-family: 'Roboto', sans-serif;
    display: block;
	background: #999999;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
	cursor: pointer;
	transition: .3s ease all;
}
.aviso-cookies .boton:hover {
    background: #333333;
    color: #D4D4D4;
}
.aviso-cookies .enlace {
	color: #000000;
	text-decoration: none;
}
.aviso-cookies .enlace:hover {
	text-decoration: underline;
}
.fondo-aviso-cookies {
	display: none;
	background: rgba(0,0,0,.40);
	position: fixed;
	z-index: 99;
	width: 100vw;
	height: 100vh;
	top: 0;
    margin-left: auto;
    margin-right: auto;
}
.fondo-aviso-cookies.activo {
	display: block;
}
.container-aviso-cookies{
	width: 100%;
	max-width: 850px;
	margin: 0 auto;
  	background: lightblue url("../images/SelloGOEUBackgroundPNG.png") no-repeat fixed center;
	background-size: 700px;
	padding: 15px;
	border-radius: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}
/* ----- ----- */
/* ----- A C H I C A R   C A B E C E R A   S E G Ú N   M O V I M I E N T O    D E L   S C R O L L. ----- */
/* ----- ----- */
.cabecera.achicado {
    transform: scale(.75, .75) translateY(.1, .1)  !important;
	top: 0;
	position: fixed;
    z-index: 9999;
	display: block;
/*    box-shadow: 3px 3px 20px 20px rgba(163, 163, 163, 1);   */
}
/* ----- ----- */
/* ----- B U S C A D O R. ----- */
/* ----- ----- */
.container-0 {
    align-items: center;
    justify-content: center;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.container-1 {
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    margin-left: auto;
    margin-right: 20px;
    display: block;
    margin-left: 50%;
    float: left;
}
.container-1 input#search {
    width: 50px;
    height: 50px;
    background-color: #CCCCFF;
    border: none;
    font-size: 14pt;
    float: left;
    color: #262626;
    padding-left: 50px;
    padding-right: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-right: 30px;
    color: #000000;
    -webkit-transition: width .55s ease;
    -moz-transition: width .55s ease;
    -ms-transition: width .55s ease;
    -o-transition: width .55s ease;
    transition: width .55s ease;
}
.container-1 input#search::-webkit-input-placeholder {
   	color: #65737e;
}
.container-1 input#search:-moz-placeholder { /* Firefox 18- */
   	color: #65737e;  
}
.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
   	color: #65737e;  
}
.container-1 input#search:-ms-input-placeholder {  
   	color: #65737e;  
}
.container-1 .icono-lupa {
  	position: absolute;
  	margin-left: 20px;
  	margin-right: 10px;
  	margin-top: 17px;
  	margin-bottom: 20px;
    transform: scale(1.4, 1.4);
    z-index: 1;
  	color: #4f5b66;
}
.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active {
    outline: none;
    background: #CCCCCC;
}
.container-1 input#search:focus, .container-1 input#search:active {
  	outline: none;
  	width: 300px;
}
.container-1:hover input#search {
	width: 300px;
}
.container-1:hover .icono-lupa {
  	color: #333333;	
}
/* ----- ----- */
/* ----- A C C E S O   M I E M B R O S   G. O. E. U. ----- */
/* ----- ----- */
.container-2 {
    width: 50px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    cursor: pointer;
    font-family: italianno, adamina, alex-brush, arizonia, trykker, Times New Roman;
    text-align: center;
    font-size: 25px;  /* 1.5em */
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: right;
}
.container-2:hover {
    color: #333333;
    text-decoration: none;
    text-shadow: 0px 0px;
    font-family: italianno, adamina, alex-brush, arizonia, trykker, Times New Roman;
    color: #000000;
    border-style: hidden;
    border-radius: 5px;
    border-collapse: collapse;
    transform: scale(1.2, 1.2);
    transition: all 0.15s;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #FFFFCC;
}
.container-2 .icon {
  	position: inherit;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 10px;
  	color: #4f5b66;
}
.container-2:hover .icon {
    color: #333333;
    text-decoration: none;
    text-shadow: 0px 0px;
    font-family: italianno, adamina, alex-brush, arizonia, trykker, Times New Roman;
    color: #000000;
    box-shadow: inset 100px 0 0 0 var(--link-1);
    border-style: hidden;
    background-color: #3333CC;
    background-image: -webkit-linear-gradient(270deg,rgba(250,254,253,0.88) 0%,rgba(255,255,255,1.00) 0.41%,rgba(77,77,213,0.81) 48.71%,rgba(255,255,204,1.00) 96.27%,rgba(255,255,204,1.00) 98.44%,rgba(255,255,204,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(250,254,253,0.88) 0%,rgba(255,255,255,1.00) 0.41%,rgba(77,77,213,0.81) 48.71%,rgba(255,255,204,1.00) 96.27%,rgba(255,255,204,1.00) 98.44%,rgba(255,255,204,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(250,254,253,0.88) 0%,rgba(255,255,255,1.00) 0.41%,rgba(77,77,213,0.81) 48.71%,rgba(255,255,204,1.00) 96.27%,rgba(255,255,204,1.00) 98.44%,rgba(255,255,204,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(250,254,253,0.88) 0%,rgba(255,255,255,1.00) 0.41%,rgba(77,77,213,0.81) 48.71%,rgba(255,255,204,1.00) 96.27%,rgba(255,255,204,1.00) 98.44%,rgba(255,255,204,1.00) 100%);
    border-radius: 5px;
    border-collapse: collapse;
    transform: scale(1.2, 1.2);
    transition: all 0.15s;
    padding-left: 5px;
    padding-right: 5px;
}
/* ----- ----- */
/* ----- F E C H A   Y   R E L O J. ----- */
/* ----- ----- */
.wrap {
    display: block;
    position: relative;
    width: 100%;
    max-width: 315px;
    float: right;
    bottom: 34px;
    left: 10px;
}
.widget {
    width: 98%;
}
.widget p {
	display: inline-block;
	line-height: 5px;  /* 1em */
}
.fecha {
    font-family: italianno, adamina, alex-brush, arizonia, trykker, Times New Roman;
	text-align: center;
	font-size: 21px;  /* 1.5em */
	background: #FFFFCC;
}
.navbar li {
	text-align: center;
	list-style: none;
	display: block;
	cursor: pointer;
}  
.crt-img{
    height: auto;
    width: auto;
    max-height: 450px;
    max-width: 450px;
}
.crt-img2{
    height: auto;
    width: auto;
    max-height: 35px;
    max-width: 35px;
    margin-right: auto;
}
.menu {
    text-align: center;
	transition: all 0.5s;
	display: flex;
}
.menu li {
	list-style: none;
}
div .nav-item.nav-link.active h2 {
    font-family: antic-didone, Buda, Diplomata, Parisienne, Sail, Times New Roman;
    font-style: normal;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
}
div .nav-item.nav-link.active h2:hover {
    color: #000000;
    text-decoration: none;
}
.d-flex.flex-row.justify-content-center .botonRed.mr-1 img:hover {
    border-radius: 5px;
    align-content: center;
    transform: scale(1.7, 1.7);  /* rotate3d(0, 0, 0, 360deg);  */
    transition: all 0.4s;
    margin-right: 15px;
    margin-left: 15px;  
	-webkit-box-shadow: 0 4px 6px -6px #000;
    -moz-box-shadow: 0 4px 6px -6px #000;
    box-shadow: 0 4px 6px -6px #000;
}
/* ----- ----- */
/* ----- R E D E S   S O C I A L E S. ----- */
/* ----- ----- */
.contenedor-header .redes-sociales {
    width: 450px;
    float: right;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.contenedor-header .form-inline.my-2.my-lg-0 {
    clear: right;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
}
.navbar.navbar-expand-lg.navbar-light.bg-light {
    clear: both;
    background-image: -webkit-linear-gradient(270deg,rgba(255,255,204,1.00) 0%,rgba(255,255,204,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(255,255,204,1.00) 0%,rgba(255,255,204,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(255,255,204,1.00) 0%,rgba(255,255,204,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(255,255,204,1.00) 0%,rgba(255,255,204,1.00) 100.00%);
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    width: auto;
}
.contenedor-header .redes-sociales p {
    top: 20%;
    margin-left: 15px;
    margin-top: 100px;
}
.linea-negra {
    width: 100%;
    clear: both;
    background-color: #191919;
}
ul li a {
    color: #FFFF66;
    font-style: normal;
    font-weight: 400;
    font-family: italianno, adamina, alex-brush, arizonia, trykker, Times New Roman;
    font-size: 35px;
    font-variant: normal;
    text-decoration: none;
}
ul li a:hover  {
    text-decoration: none;
    text-shadow: 0px 0px;
    color: #2A2A2A;
    box-shadow: inset 100px 0 0 0 var(--link-1);
    border-style: hidden;
    background-color: #9933CC;
    background-image: -webkit-linear-gradient(270deg,rgba(249,206,126,1.00) 0%,rgba(254,167,157,1.00) 80.62%,rgba(255,93,93,1.00) 100%,rgba(255,0,0,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(249,206,126,1.00) 0%,rgba(254,167,157,1.00) 80.62%,rgba(255,93,93,1.00) 100%,rgba(255,0,0,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(249,206,126,1.00) 0%,rgba(254,167,157,1.00) 80.62%,rgba(255,93,93,1.00) 100%,rgba(255,0,0,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(249,206,126,1.00) 0%,rgba(254,167,157,1.00) 80.62%,rgba(255,93,93,1.00) 100%,rgba(255,0,0,1.00) 100%);
    border-radius: 5px;
    border-collapse: collapse;
}
ul li .inicio {
    color: #FF99FF;
    font-size: 50px;
}
.navbar-nav.mr-auto .nav-item .nav-link {
    color: #330033;
    font-style: normal;
    font-weight: 400;
    font-family: italianno, adamina, alex-brush, arizonia, trykker, Times New Roman;
    font-size: 35px;
    font-variant: normal;
    text-align: center;
}
.navbar-nav.mr-auto .nav-item .nav-link:hover {
    text-decoration: none;
    text-shadow: 0px 0px;
    color: #000000;
    box-shadow: inset 0px 0 0 0 var( --link-1 );
    border-style: hidden;
    background-image: -webkit-linear-gradient(270deg,rgba(227,183,250,0.84) 0%,rgba(147,103,234,1.00) 48.70%,rgba(147,103,234,1.00) 53.26%,rgba(147,103,234,0.85) 57.82%,rgba(220,163,249,1.00) 100%,rgba(211,141,247,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(227,183,250,0.84) 0%,rgba(147,103,234,1.00) 48.70%,rgba(147,103,234,1.00) 53.26%,rgba(147,103,234,0.85) 57.82%,rgba(220,163,249,1.00) 100%,rgba(211,141,247,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(227,183,250,0.84) 0%,rgba(147,103,234,1.00) 48.70%,rgba(147,103,234,1.00) 53.26%,rgba(147,103,234,0.85) 57.82%,rgba(220,163,249,1.00) 100%,rgba(211,141,247,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(227,183,250,0.84) 0%,rgba(147,103,234,1.00) 48.70%,rgba(147,103,234,1.00) 53.26%,rgba(147,103,234,0.85) 57.82%,rgba(220,163,249,1.00) 100%,rgba(211,141,247,1.00) 100%);
    -webkit-box-shadow: inset 0px 0 0 0 var( --link-1 );
    font-style: normal;
    width: auto;
}
/* ----- ----- */
/* ----- C A R R U S E L   D E   I M Á G E N E S. ----- */
/* ----- ----- */
.carousel-inner > .carousel-item > img {
  width: 340px;
  height: 430px;
}
.carousel-item.active .carousel-caption h4 {
    color: #FFFF00;
    font-style: normal;
    font-family: adamina, alex-brush, italianno, arizonia, trykker, Times New Roman;
    font-weight: 400;
}
.texto-borde {
    -webkit-text-stroke: 1px black;
}
.carousel-top {
    color: #FFFF00;
    font-style: normal;
    font-family: adamina, alex-brush, italianno, arizonia, trykker, Times New Roman;
    font-weight: 400;
    position: absolute;
    right: 15%;
    top: 5px; /* Cambiar bottom por top y los píxeles que necesites */
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;    /* background-color: rgba(0, 0, 0, 0.5);  Añadir para conseguir el fondo con opacidad */
}
/* ----- ----- */
/* ----- M E N Ú S   D E   N A V E G A C I Ó N. ----- */
/* ----- ----- */
#navbarTogglerDemo01 .navbar-nav.mr-auto.ml-auto.text-center .nav-item.nav-link.activo1 {
    color: #333333;
    font-style: normal;
    font-weight: 400;
    font-family: italianno, adamina, alex-brush, arizonia, trykker, Times New Roman;
    font-size: 35px;
    font-variant: normal;
    text-decoration: none;
	transition: all 0.8s linear;
	text-decoration: none;
}
#navbarTogglerDemo01 .navbar-nav.mr-auto.ml-auto.text-center .nav-item.nav-link.activo1:hover {
    text-decoration: none;
    text-shadow: 0px 0px;
    color: #000000;
    box-shadow: inset 100px 0 0 0 var( --link-1 );
    border-style: hidden;
    background-color: #AE4EDD;
    background-image: -webkit-linear-gradient(270deg,rgba(255,255,204,1.00) 0.41%,rgba(255,255,204,1.00) 3.11%,rgba(166,60,218,0.76) 48.71%,rgba(255,255,204,1.00) 96.27%,rgba(255,255,204,1.00) 97.93%);
    background-image: -moz-linear-gradient(270deg,rgba(255,255,204,1.00) 0.41%,rgba(255,255,204,1.00) 3.11%,rgba(166,60,218,0.76) 48.71%,rgba(255,255,204,1.00) 96.27%,rgba(255,255,204,1.00) 97.93%);
    background-image: -o-linear-gradient(270deg,rgba(255,255,204,1.00) 0.41%,rgba(255,255,204,1.00) 3.11%,rgba(166,60,218,0.76) 48.71%,rgba(255,255,204,1.00) 96.27%,rgba(255,255,204,1.00) 97.93%);
    background-image: linear-gradient(180deg,rgba(255,255,204,1.00) 0.41%,rgba(255,255,204,1.00) 3.11%,rgba(166,60,218,0.76) 48.71%,rgba(255,255,204,1.00) 96.27%,rgba(255,255,204,1.00) 97.93%);
    border-radius: 5px;
    border-collapse: collapse;
    transform: scale(1.2, 1.2);
    transition: all 0.1s;
    padding-left: 15px;
    padding-right: 15px;
}
#navbarTogglerDemo01 .navbar-nav.mr-auto.ml-auto.text-center .nav-item.nav-link.activo2 {
    color: #333333;
    font-style: normal;
    font-weight: 400;
    font-family: italianno, adamina, alex-brush, arizonia, trykker, Times New Roman;
    font-size: 35px;
    font-variant: normal;
    text-decoration: none;
	transition: all 0.8s linear;	
	text-decoration: none;
}
#navbarTogglerDemo01 .navbar-nav.mr-auto.ml-auto.text-center .nav-item.nav-link.activo2:hover {
    text-decoration: none;
    text-shadow: 0px 0px;
    color: #000000;
    box-shadow: inset 100px 0 0 0 var(--link-1);
    border-style: hidden;
    background-color: #33CC00;
    background-image: -webkit-linear-gradient(270deg,rgba(250,254,253,1.00) 0%,rgba(255,255,255,1.00) 0.41%,rgba(85,248,71,0.98) 49.12%,rgba(255,255,204,1.00) 96.27%,rgba(255,255,204,1.00) 98.44%,rgba(255,255,204,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(250,254,253,1.00) 0%,rgba(255,255,255,1.00) 0.41%,rgba(85,248,71,0.98) 49.12%,rgba(255,255,204,1.00) 96.27%,rgba(255,255,204,1.00) 98.44%,rgba(255,255,204,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(250,254,253,1.00) 0%,rgba(255,255,255,1.00) 0.41%,rgba(85,248,71,0.98) 49.12%,rgba(255,255,204,1.00) 96.27%,rgba(255,255,204,1.00) 98.44%,rgba(255,255,204,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(250,254,253,1.00) 0%,rgba(255,255,255,1.00) 0.41%,rgba(85,248,71,0.98) 49.12%,rgba(255,255,204,1.00) 96.27%,rgba(255,255,204,1.00) 98.44%,rgba(255,255,204,1.00) 100.00%);
    border-radius: 5px;
    border-collapse: collapse;
    transform: scale(1.2, 1.2);
    transition: all 0.15s;
    padding-left: 15px;
    padding-right: 15px;
}
#navbarTogglerDemo01 .navbar-nav.mr-auto.ml-auto.text-center .nav-item.nav-link.activo3 {
    color: #333333;
    font-style: normal;
    font-weight: 400;
    font-family: italianno, adamina, alex-brush, arizonia, trykker, Times New Roman;
    font-size: 35px;
    font-variant: normal;
    text-decoration: none;
	transition: all 0.8s linear;	
	text-decoration: none;
}
#navbarTogglerDemo01 .navbar-nav.mr-auto.ml-auto.text-center .nav-item.nav-link.activo3:hover {
    text-decoration: none;
    text-shadow: 0px 0px;
    color: #000000;
    box-shadow: inset 100px 0 0 0 var(--link-1);
    border-style: hidden;
    background-color: #FF337B;
    background-image: -webkit-linear-gradient(270deg,rgba(255,255,204,1.00) 0.41%,rgba(255,255,204,1.00) 2.29%,rgba(255,72,119,0.98) 49.12%,rgba(255,255,204,1.00) 96.27%,rgba(255,255,204,1.00) 98.44%,rgba(255,255,204,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(255,255,204,1.00) 0.41%,rgba(255,255,204,1.00) 2.29%,rgba(255,72,119,0.98) 49.12%,rgba(255,255,204,1.00) 96.27%,rgba(255,255,204,1.00) 98.44%,rgba(255,255,204,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(255,255,204,1.00) 0.41%,rgba(255,255,204,1.00) 2.29%,rgba(255,72,119,0.98) 49.12%,rgba(255,255,204,1.00) 96.27%,rgba(255,255,204,1.00) 98.44%,rgba(255,255,204,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(255,255,204,1.00) 0.41%,rgba(255,255,204,1.00) 2.29%,rgba(255,72,119,0.98) 49.12%,rgba(255,255,204,1.00) 96.27%,rgba(255,255,204,1.00) 98.44%,rgba(255,255,204,1.00) 100%);
    border-radius: 5px;
    border-collapse: collapse;
    transform: scale(1.2, 1.2);
    transition: all 0.15s;
    padding-left: 15px;
    padding-right: 15px;
}
#navbarTogglerDemo01 .navbar-nav.mr-auto.ml-auto.text-center .nav-item.nav-link.activo4 {
    color: #333333;
    font-style: normal;
    font-weight: 400;
    font-family: italianno, adamina, alex-brush, arizonia, trykker, Times New Roman;
    font-size: 35px;
    font-variant: normal;
    text-decoration: none;
	transition: all 0.8s linear;	
	text-decoration: none;
}
#navbarTogglerDemo01 .navbar-nav.mr-auto.ml-auto.text-center .nav-item.nav-link.activo4:hover {
    text-decoration: none;
    text-shadow: 0px 0px;
    color: #000000;
    box-shadow: inset 100px 0 0 0 var(--link-1);
    border-style: hidden;
    background-color: #FFFF68;
    background-image: -webkit-linear-gradient(270deg,rgba(255,255,204,1.00) 0.41%,rgba(255,255,204,1.00) 2.29%,rgba(255,255,89,0.98) 49.12%,rgba(255,255,204,1.00) 96.27%,rgba(255,255,204,1.00) 98.44%,rgba(255,255,204,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(255,255,204,1.00) 0.41%,rgba(255,255,204,1.00) 2.29%,rgba(255,255,89,0.98) 49.12%,rgba(255,255,204,1.00) 96.27%,rgba(255,255,204,1.00) 98.44%,rgba(255,255,204,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(255,255,204,1.00) 0.41%,rgba(255,255,204,1.00) 2.29%,rgba(255,255,89,0.98) 49.12%,rgba(255,255,204,1.00) 96.27%,rgba(255,255,204,1.00) 98.44%,rgba(255,255,204,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(255,255,204,1.00) 0.41%,rgba(255,255,204,1.00) 2.29%,rgba(255,255,89,0.98) 49.12%,rgba(255,255,204,1.00) 96.27%,rgba(255,255,204,1.00) 98.44%,rgba(255,255,204,1.00) 100%);
    border-radius: 5px;
    border-collapse: collapse;
    transform: scale(1.2, 1.2);
    transition: all 0.15s;
    padding-left: 15px;
    padding-right: 15px;
}
/* ----- ----- */
/* ----- S U B M E N Ú S   D E   N A V E G A C I Ó N. ----- */
/* ----- ----- */
.submenu li .dropdown-item.items1 {
    display: block;
    background: #FFFFCC;
    color: #333333;
    font-style: normal;
    font-weight: 400;
    font-family: italianno, adamina, alex-brush, arizonia, trykker, Times New Roman;
    font-size: 35px;
    font-variant: normal;
    text-decoration: none;
    transition: all 0.5s linear;
    text-decoration: none;
}
.submenu li .dropdown-item.items1:hover {
    text-decoration: none;
    text-shadow: 0px 0px;
    color: #000000;
    box-shadow: inset 100px 0 0 0 var(--link-1);
    border-style: hidden;
    background-color: #33CC00;
    background-image: -webkit-linear-gradient(270deg,rgba(250,254,253,1.00) 0%,rgba(255,255,255,1.00) 0.41%,rgba(85,248,71,0.98) 49.12%,rgba(255,255,204,1.00) 96.27%,rgba(255,255,204,1.00) 98.44%,rgba(255,255,204,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(250,254,253,1.00) 0%,rgba(255,255,255,1.00) 0.41%,rgba(85,248,71,0.98) 49.12%,rgba(255,255,204,1.00) 96.27%,rgba(255,255,204,1.00) 98.44%,rgba(255,255,204,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(250,254,253,1.00) 0%,rgba(255,255,255,1.00) 0.41%,rgba(85,248,71,0.98) 49.12%,rgba(255,255,204,1.00) 96.27%,rgba(255,255,204,1.00) 98.44%,rgba(255,255,204,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(250,254,253,1.00) 0%,rgba(255,255,255,1.00) 0.41%,rgba(85,248,71,0.98) 49.12%,rgba(255,255,204,1.00) 96.27%,rgba(255,255,204,1.00) 98.44%,rgba(255,255,204,1.00) 100.00%);
    border-radius: 5px;
    border-collapse: collapse;
    transform: scale(1.2, 1.2);
    transition: all 0.1s;
}
.submenu li .dropdown-item.items2 {
	display: block;
	background: #FFFFCC;
    color: #333333;
    font-style: normal;
    font-weight: 400;
    font-family: italianno, adamina, alex-brush, arizonia, trykker, Times New Roman;
    font-size: 35px;
    font-variant: normal;
    text-decoration: none;
	transition: all 0.5s linear;		
	text-decoration: none;
}
.submenu li .dropdown-item.items2:hover {
    text-decoration: none;
    text-shadow: 0px 0px;
    color: #000000;
    box-shadow: inset 100px 0 0 0 var(--link-1);
    border-style: hidden;
    background-color: #FF337B;
    background-image: -webkit-linear-gradient(270deg,rgba(255,255,204,1.00) 0.41%,rgba(255,255,204,1.00) 2.29%,rgba(255,72,119,0.98) 49.12%,rgba(255,255,204,1.00) 96.27%,rgba(255,255,204,1.00) 98.44%,rgba(255,255,204,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(255,255,204,1.00) 0.41%,rgba(255,255,204,1.00) 2.29%,rgba(255,72,119,0.98) 49.12%,rgba(255,255,204,1.00) 96.27%,rgba(255,255,204,1.00) 98.44%,rgba(255,255,204,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(255,255,204,1.00) 0.41%,rgba(255,255,204,1.00) 2.29%,rgba(255,72,119,0.98) 49.12%,rgba(255,255,204,1.00) 96.27%,rgba(255,255,204,1.00) 98.44%,rgba(255,255,204,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(255,255,204,1.00) 0.41%,rgba(255,255,204,1.00) 2.29%,rgba(255,72,119,0.98) 49.12%,rgba(255,255,204,1.00) 96.27%,rgba(255,255,204,1.00) 98.44%,rgba(255,255,204,1.00) 100%);
    border-radius: 5px;
    border-collapse: collapse;
    transform: scale(1.2, 1.2);
    transition: all 0.1s;
}
.submenu li .dropdown-item.items3 {
	display: block;
	background: #FFFFCC;
    color: #333333;
    font-style: normal;
    font-weight: 400;
    font-family: italianno, adamina, alex-brush, arizonia, trykker, Times New Roman;
    font-size: 35px;
    font-variant: normal;
    text-decoration: none;
	transition: all 0.5s linear;		
/*	font-size: 1.8em;  */
	text-decoration: none;
}
.submenu li .dropdown-item.items3:hover {	
    text-decoration: none;
    text-shadow: 0px 0px;
    color: #000000;
    box-shadow: inset 100px 0 0 0 var(--link-1);
    border-style: hidden;
    background-color: #FFFF68;
    background-image: -webkit-linear-gradient(270deg,rgba(255,255,204,1.00) 0.41%,rgba(255,255,204,1.00) 2.29%,rgba(255,255,89,0.98) 49.12%,rgba(255,255,204,1.00) 96.27%,rgba(255,255,204,1.00) 98.44%,rgba(255,255,204,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(255,255,204,1.00) 0.41%,rgba(255,255,204,1.00) 2.29%,rgba(255,255,89,0.98) 49.12%,rgba(255,255,204,1.00) 96.27%,rgba(255,255,204,1.00) 98.44%,rgba(255,255,204,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(255,255,204,1.00) 0.41%,rgba(255,255,204,1.00) 2.29%,rgba(255,255,89,0.98) 49.12%,rgba(255,255,204,1.00) 96.27%,rgba(255,255,204,1.00) 98.44%,rgba(255,255,204,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(255,255,204,1.00) 0.41%,rgba(255,255,204,1.00) 2.29%,rgba(255,255,89,0.98) 49.12%,rgba(255,255,204,1.00) 96.27%,rgba(255,255,204,1.00) 98.44%,rgba(255,255,204,1.00) 100%);
    border-radius: 5px;
    border-collapse: collapse;
    transform: scale(1.2, 1.2);
    transition: all 0.1s;
}
.separacion .linea-negra li {
	list-style: none;
}
/* ----- ----- */
/* ----- C O N T E N E D O R   A R T Í C U L O S ----- */
/* ----- ----- */
.container-3 {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
    background-color: #FFCC66;
    padding: 20px;
	margin: 20px;
    border-radius: 10px;
    left: auto;
    right: auto;
	font-family: 'Roboto', sans-serif;
}
.container-3 .articulo {
	flex-basis: 0;
	flex-grow: 999;
	min-width: 30%;
}
.container-3 .articulo h2, h3{
	text-align: center;
}
.contain-EscyCompas img {
	width: 80px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.contain-text-imagen img {
	width: 250px;
	float: left;	
	margin-right: 20px;
	margin-bottom: 20px;
}
.contain-text-imagen-right img {
	width: 225px;
	float: right;	
	margin-left: 20px;
	margin-bottom: 20px;
}
.contain-text-imagen-right ul li {
	margin-left: 70px;
}
/* ----- ----- */
/* ----- P I E   D E   P Á G I N A. ----- */
/* ----- ----- */
.pie-pagina {
	width: 100%;
	max-width: 100%;
	background: #FFFF99;
}
.box .responsive {
	position: relative;
}
.responsive iframe {
	width: 100%;
	height: 100%;	
}
.pie-pagina .grupo-1 {
	width: 100%;
	max-width: 90%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 25px;
	padding: 25px 0px;
}
.pie-pagina .grupo-1 .box {
    margin-right: 10%;
	justify-content: center;
	align-items: center;
}
.pie-pagina .grupo-1 .box figure {
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}	
.pie-pagina .grupo-1 .box h3 {
    color: #000066;
    font-family: italianno, adamina, alex-brush, arizonia, trykker, Times New Roman;
    margin-bottom: 10px;
    font-size: 40px;
}
.pie-pagina .grupo-1 .box p {
    color: #000066;
    font-family: italianno, adamina, alex-brush, arizonia, trykker, Times New Roman;
    font-size: 30px;
	margin-bottom: 10px;
}
.pie-pagina .grupo-2 {
    padding: 15px 10px;
	text-align: center;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
/* ----- ----- */
/* ----- F O R M U L A R I O   D E   C O N T A C T O. ----- */
/* ----- ----- */
.main__Contacto {
    display: inherit;
    float: inherit;
    font-family: 'Roboto', sans-serif;
    background: #99CCCC;
    max-width: 800px;
    width: 90%;
    margin-top: 185px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    border-collapse: collapse;
	padding-top: 80px;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 80px;
    clear: both;
    border-radius: 20px;
}
.main__Contacto h2 {
	font-family: italianno, adamina, alex-brush, arizonia, trykker, Times New Roman;
    font-size: 40px;
}
.formulario-datos-personales {
	display: grid;
 	grid-template-columns: 1fr 1fr;
	gap: 20px;	
}
.formulario-datos-mensaje {
	display: block;
}
.formulario__label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}
.formulario__grupo-input {
	position: relative;
}
.formulario__input {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}
.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 10px 10px 10px rgba(163,163,163, 0.5);
}
.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}
.formulario__input-error-activo {
	display: block;
}
.formulario__textarea {
	display: block;
	width: 100%;
	height: 100%;
	min-width: 100%;
	max-width: 100%;
	min-height: 100px;
	max-height: 300px;
}
.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}
.formulario__checkbox {
	margin-right: 10px;
}
.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}
.formulario__mensaje {
    height: 45px;
    line-height: 45px;
    background: #F66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
    margin-top: 20px;	
}
.formulario__mensaje-activo {
	display: block;
}
.formulario__mensaje p {
	margin: 0;
}
.formulario__label_textarea {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
	margin-top: 20px;
}
.formulario__grupo-incorrecto .formulario__label_textarea {
	color: #bb2929;
}
.formulario__grupo-btn-enviar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;	
}
.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #000;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition: .1s ease all;
}
.formulario__btn:hover {
    background: #FFCC66;
    color: #000;
	box-shadow: 10px 10px 5px #aaaaaa;
	border-radius: 10px;
}
.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}
.formulario__mensaje-exito-activo {
	display: block;
    margin-top: 20px;
}
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}
.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}
.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}
.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}
.separacion .linea-negra li {
}

/* ----- ----- */
/* ----- M E D I A   Q U E R I E S  ----- */
/* ----- ----- */
/* ----- ----- */
/* ----- para pantallas de PC. ----- */
/* ----- ----- */
@media only screen and (min-width:1024px) {
	.container-submenu {
		position: relative;
	}
	.submenu {
		position: absolute;
		width: 290px;
		overflow: visible;
		z-index: 1000;
		opacity: 0;
		visibility: hidden;		
	}
	.container-submenu:hover .submenu {
		opacity: 1;
		visibility: visible;
	}
   .navbar li > ul {
	   display: block; 
	}
}
/* ----- ----- */
/* ----- para Tablets y Smartphones. ----- */
/* ----- ----- */
@media only screen and (max-width:991px) {
	.main.activo {
	    padding-top: 12.7rem;
		float: inherit;
    	width: 100%;
    	max-width: 100%;
	}
    .crt-img{
    	height: auto;
    	width: auto;
    	max-height: 375px;
    	max-width: 375px;
    	margin-right: auto;
    }
	.navbar.navbar-expand-lg.bg-inverse.navbar-toggleable-sm.navbar-light.bg-light #navbarTogglerDemo01 .d-flex.flex-row.justify-content-center {
    margin-bottom: 50px;		
	}
/* ----- ----- */
/* ----- fecha y hora. ----- */
/* ----- ----- */
	.wrap {
    	display: block;
   		width: 100%;
    	max-width: 315px;
    	float: right;
    	left: 10px;
    	transform: scale(.9, .9);
	}
	.widget, .fecha {
		font-size: 25px;
	}
	.widget p {
    	transform: scale(.9, .9);
	}
/* ----- ----- */
/* ----- contenedor Buscador + acceso miembros GOEU. ----- */
/* ----- ----- */
	.container-0 {
    	display: inline-block;
    	justify-content: center;
    	width: 100%;
	}
	.container-1 {
		grid-template-columns: repeat(1, 1fr);
    	transform: scale(.8, .8);
		margin-top: 10px;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	.container-1 input#search {
    	font-size: 13pt;
	}
	.container-1 .icono-lupa {
   	 	transform: scale(1, 1);
	}
	.container-2 {
    	transform: scale(.8, .8);
    	clear: both;
    	float: left;
		margin-left: 15px;
	}
	.container-2:hover {
    	transform: scale(1, 1);
	}
	.container-2 .icon {
    	transform: scale(.8, .8);
	}
	.container-2:hover .icon {
    	transform: scale(1, 1);
	}
/* ----- ----- */
/* ----- menús de navegación. ----- */
/* ----- ----- */
	.navbar-nav.mr-auto.ml-auto.text-center.dropdown .menu.container-submenu #Masoneria {
    	display: inline-flex;
	}
	.navbar-nav.mr-auto .nav-item .nav-link {
    	transform: scale(.8, .8);
	}
	.navbar-nav.mr-auto .nav-item .nav-link:hover {
    	transform: scale(1, 1);
	}
	#navbarTogglerDemo01 .navbar-nav.mr-auto.ml-auto.text-center .nav-item.nav-link.activo1,
	#navbarTogglerDemo01 .navbar-nav.mr-auto.ml-auto.text-center .nav-item.nav-link.activo2,
	#navbarTogglerDemo01 .navbar-nav.mr-auto.ml-auto.text-center .nav-item.nav-link.activo3,
	#navbarTogglerDemo01 .navbar-nav.mr-auto.ml-auto.text-center .nav-item.nav-link.activo4 {
    	display: inline-flex;
    	transform: scale(.8, .8);
	}
	#navbarTogglerDemo01 .navbar-nav.mr-auto.ml-auto.text-center .nav-item.nav-link.activo1:hover,
	#navbarTogglerDemo01 .navbar-nav.mr-auto.ml-auto.text-center .nav-item.nav-link.activo2:hover,
	#navbarTogglerDemo01 .navbar-nav.mr-auto.ml-auto.text-center .nav-item.nav-link.activo3:hover,
	#navbarTogglerDemo01 .navbar-nav.mr-auto.ml-auto.text-center .nav-item.nav-link.activo4:hover {
   		transform: scale(1, 1);
	}
/* ----- ----- */
/* ----- submenús de navegación. ----- */
/* ----- ----- */
	.submenu li .dropdown-item.items1,
	.submenu li .dropdown-item.items2,
	.submenu li .dropdown-item.items3 {
    	transform: scale(.8, .8);
	}
	.submenu li .dropdown-item.items1:hover,
	.submenu li .dropdown-item.items2:hover,
	.submenu li .dropdown-item.items3:hover {
    	transform: scale(1, 1);
	}
/* ----- ----- */
/* ----- pies de página. ----- */
/* ----- ----- */
	.pie-pagina .grupo-1 {
		width: 90%;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 25px;
	    align-items: center;
		padding: 25px 25px;
	    display: block;
        margin-left: auto;
        margin-right: auto;
	}
    .pie-pagina .grupo-2 {
    	padding: 15px 10px;
		text-align: center;
	    display: block;
        margin-left: auto;
        margin-right: auto;
	}
	.pie-pagina .grupo-2 small{
    	font-size: 13px;
	    display: block;
        margin-left: auto;
        margin-right: auto;
	}
	.container-submenu:hover .submenu {
		opacity: 1;
		visibility: visible;
	}
/* ----- ----- */
/* ----- visualización formulario responsive ----- */
/* ----- ----- */
	.main__Contacto {
    	display: inherit;
    	float: inherit;
    	font-family: 'Roboto', sans-serif;
    	background: #99CCCC;
    	max-width: 800px;
    	width: 90%;
    	margin-top: 200px;
    	margin-right: auto;
    	margin-left: auto;
    	margin-bottom: auto;
    	border-collapse: collapse;
		padding-top: 50px;
    	padding-right: 50px;
    	padding-left: 50px;
    	padding-bottom: 50px;
    	clear: both;
    	border-radius: 20px;
	}
	.main__Contacto h2 {
		font-family: italianno, adamina, alex-brush, arizonia, trykker, Times New Roman;
    	font-size: 30px;
	}
	.formulario__label {
		display: block;
		font-weight: 300;
		padding: 5px;
		cursor: pointer;
	}
	.formulario__label_textarea {
		display: block;
		font-weight: 300;
		padding: 5px;
		cursor: pointer;
		margin-top: 10px;
	}
	.formulario-datos-personales {
		grid-template-columns: 1fr;
	}
	.formulario__grupo-terminos, 
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}
	.formulario__mensaje {
    	height: auto;
    	line-height: auto;
    	background: #F66060;
    	padding: 0 15px;
		text-align: justify;
    	border-radius: 3px;
    	margin-top: 20px;	
    	margin-bottom: 70px;
	}
	.formulario__mensaje-exito-activo {
		display: block;
    	margin-top: 20px;
		text-align: justify;
	}
	.formulario__btn {
		width: 100%;
	}
}
